/* html {
    margin: 5px;
    padding: 10px;
} */
body {
    background-repeat: repeat-y;
    background :url(https://steamuserimages-a.akamaihd.net/ugc/27350000397145343/C4D51E37F1AD95F2969B694275D9E0AF7E1D6D01/);
}
/* p {
    background-color: whitesmoke;
} */
div {
    margin: 70px
}
.center {
    text-align: center;
}
