/* html {
    margin: 5px;
    padding: 10px;
} */
body {
    background :url(https://steamuserimages-a.akamaihd.net/ugc/27350000397145343/C4D51E37F1AD95F2969B694275D9E0AF7E1D6D01/);
}
/* p {
    background-color: whitesmoke;
} */
ul {
    font-size: 300%;
    text-align: center;
}
/* div {
    margin: 70px;
    font-size: 200%;
} */
.center {
    text-align: center;
}
.sticky {
    position: sticky;
    top: 10px; /* When the element reaches top: 10px, it becomes fixed. */
    z-index: 100;
  }